* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
}
 
.container {
    width: 400px;
    height: 550px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: aqua;
    margin: 20px auto;
}